/* Set the width and background color of the HTML, and the body. */
html {
    width: 100%;
    background: white;
}

body {
    width: 95%;
    margin: 0 auto;
    background: lightblue;
}

/* Sets up the section for all the canvases. */
section#gameCanvasHolder {
    margin: 0px auto;
    padding: 10px;
    display: block;
}

/* Styles for the canvas. */
canvas {
    display: block;

    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}